.App {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 7px;
}
.rock, .scissors, .paper{
    width: 240px;
    height: 240px;
}
.lay1{
    display: inline-block;
    width: 500px;
    height: 100px;
}
.lay2{
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    border-right: 1px solid rgb(189, 189, 189);
}
.lay3{
    display: inline-block;
    width: 240px;
    height: 250px;
}
.lay4{
    padding-top: 15px;
    display: inline-block;
    width: 500px;
    height: 120px;
}
.rock-area, .scissors-area, .paper-area{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 50px;
    display: inline-block;
}
.rock-size, .scissors-size, .paper-size{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
}
.rock-size:hover, .scissors-size:hover, .paper-size:hover{
    cursor: pointer;
}
.App{
    box-shadow: 3px 5px 5px 3px rgb(201, 201, 201);
}
.rockImg, .sciImg, .paImg{
    margin-left: 50px;
    margin-top: 40px;
}
.you, .com{
    text-align: center;
    font-size: 20px;
}
.youCoinLay, .comCoinLay{
    width: 250px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
